.animated-tail {
  // border: 1px solid red;
  height: 90px;
  width: 130px;
  scale: 0.75;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-225px, -75px);
  z-index: 1;
}

.animated-steam {
  height: 55px;
  width: 26px;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(126px, -175px);
  z-index: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

.animate-flicker {
  animation: fadeIn 1.3s infinite alternate;
}

.animated-mins {
  position: absolute;
  width: 22px;

  border-bottom: 3px solid black;
  top: 50%;
  left: 50%;
  transform-origin: left center;
  transform: translate(402px, -195px) rotate(-15deg);
}
.animated-hours {
  position: absolute;
  width: 15px;
  // height: 10px;
  border-bottom: 3px solid black;
  top: 50%;
  left: 50%;
  transform-origin: left center;
  transform: translate(403px, -196px);
}
.animated-secs {
  transform-origin: center top;
  position: absolute;
  height: 18px;
  border-right: 2px solid red;
  top: 50%;
  left: 50%;
  transform: translate(402px, -193px);
}
.animated-center {
  background: chocolate;
  position: absolute;
  border-radius: 100%;
  width: 7px;
  height: 7px;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transform: translate(400px, -197px);
  z-index: 9999;
}
