
@import "blocks/title";
@import "blocks/item";
@import "blocks/bottom";
@import "blocks/result";
@import "blocks/menu";
@import "blocks/summary";


.window{
z-index: 2;
      background-color: white;
    color: $blue-dark;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 3px 3px $green;
    text-align: center;
    padding: 1rem
}

.block {
  border-radius: $b-radius;
  overflow: hidden;
}






