.btns-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.btn {
  padding: 1rem;
  font-weight: 600;
  font-size: 1.2rem;
  color: white;
  &:active{
    outline: none;
     box-shadow: 0px 0px;
    transform: translate(1px, 1px);
  }
}
.btn-increment {
  border: 0;
  font-size: 2rem;

  background-color: transparent;
}

.btn-submit {
  border: 0;
  box-shadow: 2px 2px $blue;
  text-decoration: underline;
  width: 100%;
  background-color: $purple;
  &:hover{

    background-color: $purple-light;
  }
}

.btn-next{
  color: white;
  background-color: $blue-dark;
  border: 0;
  box-shadow: 2px 2px $purple;
  &:hover{
    background-color: $blue;
  }
  &:active{
    box-shadow: 1px 1px;
    transform: translate(1px, 1px);
  }
}