.btns-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.btn {
  padding: 1rem;
  font-weight: 600;
  font-size: 1.2rem;
}
.btn-increment {
  color: white;
  border: 0;
  font-size: 2rem;

  background-color: transparent;
}

.btn-submit {
  width: 100%;
  background-color: $purple;
}
