$purple-light: #db6da6;
$purple: #de4493;
$grey: #eef1f8;
$blue: #4692c7;
$blue-dark: #4e4d9b;
$green: #97c549;

.green{
    // width: 100px;
    display: inline-block;
    
    color: $green;
}
.purple{
    // width: 100px;
    display: inline-block;
    color: $purple;
}