.wrap {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
}
.wrap-tight {
  max-width: 300px;
  margin: 0 auto;
}

.game-area {
  background: #a3909015;
  height: 95vh;
  border-radius: $b-radius;
  padding: 1rem;
  min-height: 550px;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 500px) {
  .hide-small {
    display: none;
  }
}
