$b-radius: 5px;
@import "colours";
@import "layout";
@import "buttons";
@import "blocks";
@import "fonts";
@import "animated";

img {
  width: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: $grey;
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}

.site-main {
  position: relative;
  overflow-x: hidden;
  height: 100vh;
  min-height: 600px;
  height: 900px;
  background-image: url(../assets/background.jpg);
  background-position: 50% -25px;
  background-repeat: no-repeat;
  background-size: 1500px 900px;
}
