.item {
  margin: 0 auto;
  height: 150px;
  width: 150px;
  padding: 0;
  background: url(../../assets/star.png) 100%  no-repeat;
  background-size: contain;
  padding: 1rem;
  img{
    
    height: 100%;
    object-fit: cover;
  }
}


