.menu-block{
ul{
    list-style: none;
    font-size: 1.2rem;
    margin: auto;
    li{
        text-align: left; 

        input{
            margin-right: 15px;
        }
        margin: 1rem 0;
    }
}
}