.result-block{

    h3{
        font-size: 1.75rem;
        margin: 0;
    }
    p{
      margin-bottom: 10px;
    }

}

.correct-answer{
  font-size: 1.75rem;
 margin: 0 1rem;
  // margin-top: 1rem;
}