.result-block{
    background-color: white;
    color: $blue-dark;
    padding: 10px 20px;
    text-align: center;
    // height: 250px;

    h3{
        font-size: 1.75rem;
        margin: 0;
    }
}

.correct-answer{
  font-size: 2rem;
  display: block;
  margin-top: 1rem;
}