.title-block {
  text-align: center;
  color: $blue-dark;
  h1{
    color: $blue;
    font-size: 2rem;
  
  }
  h2{
    font-size: 1.2rem;
  }
  p{
  }
}

@media screen and (max-height: 700px){
    .title-block{
        .body{

            display: none;
        }
    }
}